body{
  background: #002233;
  color: #AAEEDD;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}  

.site_main{
  flex:1;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header, 
footer{
  background: #113344;
}

header{
  border-bottom: 1px solid #AAEEDD;
}

footer{
  border-top: 1px solid #AAEEDD;
}

.main-nav,
.footer-nav{
  display:flex;
  align-items: center;
}

.main-nav ul,
.footer-nav ul {
  margin: 0;
  padding: 12px 0;
  display:flex;
}

.main-nav li,
.footer-nav li{
  float:left;
  list-style: none outside none;
  padding: 8px 24px;
}

.main-nav a,
.footer-nav a{
  color: #99EEDD;
  text-decoration: none;
  font-weight: 600;
}

a{
  font-weight: 600;
  color: #AAEEDD;
}

/* Story Items */
.story-item{
  margin: 1px 0;
  background: #333344;
  list-style-position: outside;
}

.story-item > .flex{
  background: #333344;
  padding: 12px 24px 12px 48px;
  margin-left: -36px;
}

.story-item > .flex > a {
  display: inline-block;
  margin-right: 12px;
}

/* Footer */
footer{
  font-size: 12px;
  padding-bottom: 12px;
}

footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav li{
  font-size: 12px;
  padding: 4px 12px;
  position: relative;
}

.footer-nav li::after {
  content: '|';
  position: absolute;
  right: 0px;
}

.footer-nav li:last-child:after{
  content: '';
}

/* Story Items */
.stories{
  padding-left: 0;
}

